body {
    cursor: pointer
}

body,
html {
    height: 100%;
}

.title {
    margin: 20px 15px 10px;
    color: #6d6d72;
    font-size: 15px;
}

.oa-contact-cell.mui-table .mui-table-cell {
    padding: 11px 0;
    vertical-align: middle;
    font-size: 15px;
}

.oa-contact-cell {
    position: relative;
    margin: -11px 0;
}

.oa-contact-avatar {
    width: 70px;
}

.oa-contact-avatar img {
    border-radius: 8px;
    width: 58px;
    height: 58px;
}

.oa-contact-content {
    width: 100%;
    position: relative;
}

.oa-contact-content .mui-icon {
    position: absolute;
    right: 0;
    top: 30px;
}

.oa-contact-content p {
    font-size: 11px;
}

.oa-contact-content p span:first-child {
    width: 72px;
    display: inline-block;
    margin-right: 5px;
}

.oa-contact-name {
    margin-right: 20px;
}

.oa-contact-name,
oa-contact-position {
    float: left;
}

#tabbar-with-contact .mui-slider-cell .bottom {
    color: #999;
    font-size: 14px;
    position: relative;
    text-align: center;
    margin-top: 10px;
}

#tabbar-with-contact .mui-slider-cell .bottom:before {
    content: "“";
    position: absolute;
    left: 5px;
    top: 0px;
    font-size: 20px;
}

#tabbar-with-contact .mui-slider-cell .bottom:after {
    content: "”";
    position: absolute;
    right: 5px;
    bottom: -10px;
    font-size: 20px;
}

#tabbar-with-contact .mui-table-view-cell {
    padding-bottom: 5px;
}

.find-top {
    height: 43px;
    line-height: 45px;
    font-size: 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background: #fff;
    overflow: hidden;
    border-bottom: 1px solid #eee;
}

.find-top div {
    display: inline-block;
    width: 33.333%;
    font-size: 14px;
    text-align: center;
}

.find-top div.active {
    color: #ff5749;
}

.find-top div img {
    width: 9px;
    height: 11px;
}

#tabbar-with-map .mui-table-view-cell img {
    width: 18px;
    margin-right: 5px;
    position: relative;
    top: 2px;
}

#tabbar-with-map .mui-table-view-cell {
    padding: 15px 15px;
}

#tabbar-with-map .mui-table-view-cell>a:not(.mui-btn) {
    margin: -15px -15px;
}

.top-badge {
    background: #FF5445;
    color: #fff;
    padding: 7px 14px;
}

.mui-tab-item {
    font-size: 12px;
    padding-top: 4px;
}

.mui-tab-item .tab-img {
    display: block;
}

.mui-tab-item .tab-img img:last-child {
    display: none;
}

.mui-bar-tab .mui-tab-item:first-child img {
    width: 23px;
}

.mui-bar-tab .mui-tab-item:nth-child(2) img {
    width: 23px;
}

.mui-bar-tab .mui-tab-item:nth-child(3) img {
    width: 23px;
}

.mui-bar-tab .mui-tab-item:last-child img {
    width: 19px;
}

.mui-bar-tab .mui-tab-label {
    margin-top: -4px;
    display: block;
}

.mui-bar-tab .mui-tab-item.mui-active .tab-img img:first-child {
    display: none;
}

.mui-bar-tab .mui-tab-item.mui-active .tab-img img:last-child {
    display: inline-block;
}

.home_top {
    height: 164px;
    width: 100%;
    background: #ff6558;
    padding: 20px;
    box-sizing: border-box;
    justify-content: space-between;
    position: relative;
}

.noticeIcon {
    width: 17px;
    height: 14px;
}

.msg_cnt {
    position: absolute;
    top: -5px;
    right: -5px;
    color: #ff5445;
    background: #ffffff;
    font-size: 10px;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    line-height: 16px;
    text-align: center;
    display: inline-block;
}

.hongbao_gif {
    position: absolute;
    bottom: -64px;
    left: 0px;
    width: 64px;
    height: 64px;
    z-index: 10;
    transform-origin: 100% 100%;
    -webkit-transform-origin: 100% 100%;
    -webkit-transition: all 1s ease-in-out 0s;
    -o-transition: all 1s ease-in-out 0s;
    -moz-transition: all 1s ease-in-out 0s;
    transition: all 1s ease-in-out 0s;
}

.home_content {
    width: 90%;
    height: 188px;
    margin-left: 5%;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 73px;
    background: #ffffff;
    z-index: 2;
    padding: 28px 0px;
    border-radius: 14px;
}

.getMoneyComment {
    color: #303030;
    font-size: 14px;
}

.money {
    color: #000000;
    font-size: 55px;
    height: 55px;
    line-height: 55px;
}

.content_bottom {
    color: #dddddd;
    font-size: 12px;
}

.content_time {
    width: 50px;
    height: 18px;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    position: absolute;
    top: 50px;
    right: 40px;
    background-image: url(../images/day_bg.png);
    background-size: cover;
}

.content_wrap {
    margin-top: 130px;
    padding: 20px;
    text-align: center;
}

.applyMoney {
    color: #303030;
    opacity: 0.4;
    font-size: 14px;
    text-align: left;
}

.next {
    width: 100%;
    border-radius: 30px;
    margin: 10px 0px;
    text-align: center;
    padding: 10px 0rem;
    cursor: pointer;
    background: #ff493D;
    color: #ffffff;
}

.bank_info {
    display: inline-block;
    width: 136px;
    margin: auto;
    text-align: center;
    font-size: 10px;
    background-image: url(../images/bank_icon.png);
    background-repeat: no-repeat;
    background-position: left 5px;
    background-size: 9px 10px;
}

.make_money_bottom_slider {
    width: 100%;
    object-fit: fill;
}

.bottom_slider {
    width: 100%;
    height: 73px;
    object-fit: fill;
}

.getMoneyBg {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -2;
    margin-bottom: 100px;
}


/*.getMoneyWrap::before{
	content: '';
    display: block;
    height: 0;
    clear: both;
}*/

.getMoneyContent {
    position: relative;
    padding: 6px 18px 12px 18px;
}

.getMoney-swiper-container {
    color: #EB689C;
    font-size: 14px;
    height: 22px;
}

.getMoney-swiper-container .swiper-slide {
    text-align: center;
}

.inviteBtn {
    width: 321px;
    height: 111px;
    margin: auto;
}

.nowGetMoneyBtn {
    width: 174px;
    height: 49px;
    margin-top: 25px;
}

.money_wrap {
    height: 114px;
    color: #ffffff;
    font-size: 26px;
    font-weight: bold;
    padding-right: 10px;
}

.money_wrap div {
    text-align: center;
    padding-top: 30px;
    width: 33.33%;
}

.money_wrap div p {
    padding-top: 20px;
    color: #8784f1;
}

.money_wrap span {
    display: inline-block;
    width: 100px;
    text-align: center;
}

.bottomJoinBtn {
    width: 90%;
    height: 173px;
}

#tabContent .mui-control-content {
    padding-bottom: 70px;
}


/*影响到赚钱的分享了
#tabContent .mui-active {
    height: 100%;
}
*/

#tabbar-with-contact {
    height: 100%;
}

.getMoneyContent .middle-col {
    height: 213px;
    border-radius: 10px;
    background: #231eb0;
}

.getMoneyContent .bottom-col {
    height: 99px;
    background: #151091;
    border-radius: 0 0 10px 10px;
    text-align: center;
}

.modal-mask {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    z-index: 10;
    color: #fff;
    justify-content: center;
    align-items: center;
}

.modal-dialog {
    width: 90%;
    max-height: 100%;
    overflow: auto;
    border-radius: 18px;
    position: relative;
    border-radius: 20px;
}

.close_style {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 23px;
    height: 23px;
    z-index: 100000;
}

.selfModal .modal-content {
    font-size: 12px;
    position: relative;
    z-index: 10000;
    font-size: 12px;
    color: #333333;
    padding: 0px;
}

.selfModal .modal-content .conten_bg {
    width: 100%;
    margin-bottom: 40px;
}

.dialog_bottom_btn {
    width: 90%;
    height: 114px;
    position: absolute;
    bottom: 0px;
    margin-left: 5%;
}

.inviteModal .modal-dialog {
    width: 90%;
    max-height: 100%;
    overflow: auto;
    border-radius: 18px;
    position: relative;
    border-radius: 20px;
}

.invalite_bg {
    width: 100%;
    height: 491px;
}

.invite_bottom_content {
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: 0px;
    width: 100%;
}

.invite_bottom_content img {
    width: 66px;
    height: 66px;
}

.invite_bottom_content span {
    font-size: 12px;
}

.zhuan_left {
    transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    -webkit-transform-origin: center center;
    transform-origin: center center
}

.zhuan_right {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
    -webkit-transform-origin: center center;
    transform-origin: center center
}

.wx_friend_wrap,
.qq_wrap,
.copy_wrap,
.wx_wrap {
    justify-content: center;
    align-items: center;
}

.money_wx_friend_wrap,
.money_qq_wrap,
.money_copy_wrap,
.money_wx_wrap {
    justify-content: center;
    align-items: center;
}

.my_head {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    vertical-align: middle;
}

.my_phone {
    width: 134px;
    display: inline-block;
    margin-left: 10px;
    font-size: 16px;
    color: #000;
}

.balance_css {
    color: #ff5445;
    font-size: 16px;
    background: transparent;
    display: inline-block;
    margin-right: 10px;
}

.no_balance_css {
    color: #000000;
    font-size: 16px;
    background: transparent;
    display: inline-block;
    margin-right: 10px;
}

.applyMoneyBtn {
    width: 190px;
    height: 45px;
    line-height: 45px;
    padding: 0;
    font-size: 17px;
    border-radius: 23px;
}

.time_text_span {
    font-size: 12px;
    color: #333333;
    margin-top: 10px;
}

.clicked {
    opacity: 0.4;
}

.find_wrap {
    flex-wrap: wrap;
    padding: 10px 20px;
    width: 100%;
}

.find_wrap_item {
    justify-content: space-between;
    align-items: center;
    color: #222222;
    font-size: 12px;
    width: 25%;
    box-sizing: border-box;
}

.find_wrap_item img {
    width: 65px;
    height: 65px;
}

.find_bottom_wrap {
    width: 100%;
    position: relative;
    bottom: -140px;
    /*bottom: -220px;*/
}

.bottom_center {
    width: 90%;
    margin-left: 5%;
    height: 50px;
    line-height: 50px;
    background: #39405B;
    position: absolute;
    left: 50%;
    margin-left: -45%;
    margin-top: -100px;
    text-align: center;
    font-size: 12px;
}

.bottom_center_icon {
    position: absolute;
    left: 6%;
    top: -95px;
    width: 39px;
    height: 17px;
}

.self_icon {
    position: absolute;
    right: 8%;
    top: 34px;
    width: 23px;
    height: 23px;
}

.recommand_icon {
    width: 86px;
    height: 50px;
    position: absolute;
    right: 5%;
    top: -100px;
}

.msgIcon {
    width: 57px;
    height: 54px;
    padding: 20px;
    position: absolute;
}

.find_bottom_img {
    width: 100%;
    position: absolute;
    bottom: 0px;
    z-index: -1;
    ;
}

.update_content_bg {
    background: #ffffff;
    border-radius: 20px;
    width: 80%;
    margin-left: 10%;
    box-sizing: border-box;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 200px;
    color: #000000;
    font-size: 20px;
}

.update_msg {
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    padding: 20px;
}

.update_content_bg div {
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.mui-clearfix {
    color: #333333;
    font-size: 16px;
}

.loan_day_class {
    display: inline-block;
    margin-right: 16px;
}

.mui-input-range input[type=range]::-webkit-slider-thumb {
    border-color: transparent;
    background-color: transparent;
}

.bottom_wrap {
    height: 140px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: #2B3041;
    z-index: -1;
}